*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.Mletter1 {
    color: rgba(4, 92, 207, 0.822);
    letter-spacing: 1px;
}
.Mletter2 {
    color: rgb(4, 46, 125);
}
.Mletter3 {
    color: rgb(255, 0, 0);
}

.bg-image {
    background-image: url(/image/hero-background.jpg);
    background-size: auto;
    margin: 0rem;
    padding: 0rem;
    
}

.hero {
    color: aliceblue;
    text-align: left!important;
}
.pargraph1 {
    color: #ffffff;
    text-align: left;
}
.about {
    padding: 1rem 0rem;
    margin: 0rem 0rem;
    background-image: linear-gradient(to bottom right, rgb(0, 101, 177), rgb(29, 63, 117)
    , rgb(225, 42, 38));
}

.models {
    background-image: url(/image/models-bg3.jpg);
    background-size: contain;
    margin-bottom: 0;
    padding-left: 0;
    color: #ffffff;
}

.para {
    color: #ffffff;
}

.foot {
    background-color: black;
    color: #ffffff;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.con {
    background-image: linear-gradient(to bottom right, rgb(0, 101, 177), rgb(29, 63, 117)
    , rgb(225, 42, 38));
}
